{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
LanDjango: Distance Calculator
{% endblock title %}



{% block content %}
<h2 style ="text-align:center;">LanDjango : Distance Calculator</h2>
<div style="text-align:center; ">
{{map|safe}}
</div>
<br><br>

<h4>
Distance from {{ location }} to {{ destination }} is {{ distance }} km.
</h4>
<h5>
<br>
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary">Confirm</button>
</h5>
</form>
<br>
This product includes GeoLite2 data created by MaxMind, available from
<a href="https://www.maxmind.com">https://www.maxmind.com</a>.

{% endblock content %}
